.hero {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  justify-content: space-around;
  align-items: center;
  &__text {
    margin-left: 3rem;
    margin-right: 2rem;
    padding-bottom: 8rem;
    &--title {
      padding-bottom: 2rem;
      font-size: 3rem;
    }
    &--slogan {
      font-size: 1.5rem;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    margin-left: -18rem;

    &--image {
      height: 800px;
    }
  }
}
