@font-face {
  font-family: "rubik";
  src: url("../assets/font/Rubik-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "barlow";
  src: url("../assets/font/Barlow-Light.ttf");
  font-weight: 300;
}
