$tablet-breakpoint: 767px;

$desktop-breakpoint: 1280px;

$primary-black: #13182c;
$primary-blue: #2e66e5;
$primary-white: #fbfbfb;

$secondary-dark: #5c667e;
$secondary-light: #bdc5d5;

$background-dark: #f04d38;
$background-light: #f7f8f9;

$support-green: #158463;
$support-red: #c94515;
