.moviemood-home-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
  margin-bottom: 2rem;
}
.movieposter {
  height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.movieposter-spec {
  height: 160px;
}
.description {
  font-size: 16px;
  margin-bottom: 24px;
  margin-bottom: 2rem;
}
.image-gallary {
  flex-wrap: wrap;
  justify-content: center;
}
.button-link {
  text-decoration: none;
}

.find-movie-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.find-movie-button:hover {
  background-color: #0056b3;
}

.note {
  font-size: 14px;
  margin-top: 24px;
  padding-bottom: 5rem;
}
