.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #091d42;
  color: #fff;
}

.footer__sideone {
  flex: 1;
}
.footer-link {
  padding-bottom: 16px;
  padding-top: 16px;
}
.footer__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer__description {
  font-size: 14px;
  margin-bottom: 20px;
  width: 600px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.footer__logo {
  width: 50px; /* Adjust the size as needed */
  margin-right: 10px;
  padding-left: 2rem;
}

.footer__sidetwo {
  flex: 1;
  display: flex; /* Add display: flex to make the children side by side */
  justify-content: space-between; /* Add space between the children */
}

.footer__links,
.footer__subscribe {
  display: flex; /* Make the links side by side */
  flex-direction: column; /* Set flex-direction to column for better responsiveness */
  margin-right: 20px; /* Add some margin between the sections */
}

.footer__links ul,
.footer__subscribe ul {
  list-style: none;
  padding: 0;
}

.footer__links li,
.footer__subscribe li {
  margin-bottom: 8px;
}

.footer__email-button {
  background-color: #fff;
  color: #333;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.footer__email-button:hover,
.footer__subscribe-button:hover {
  background-color: #ddd;
}
.footer__subscribe-button {
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 2rem;
  width: 100px;
  border: none;
}
