body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
  color: white;
}

/* Select box styles */
label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 16px;
}

/* Movie list styles */
h2 {
  color: white;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

/* Movie details styles */
h3 {
  color: white;
}

p {
  margin: 10px 0;
  color: white;
}

.image {
  max-width: 24vw;
  height: auto;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__movies {
    display: flex;
  }
}
.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#genre {
  border-radius: 20px;
}
